@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

::selection {
	@apply bg-accent-800/50 text-accent-50;
}

/* width */
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	@apply bg-transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	@apply bg-base-600 transition-colors duration-150 hover:bg-accent-500;
	border-radius: 5px;
}

.poster {
	view-transition-name: var(--name);
}

.title {
	view-transition-name: var(--name);
}

@media (prefers-reduced-motion) {
	::view-transition-group(*),
	::view-transition-old(*),
	::view-transition-new(*) {
		animation: none !important;
	}
}
